<style>
	body{padding:50px 100px;line-height:24px;font-size:12px;}
	h2{color:#f00;background:#ececec;padding:5px 10px;}
</style>
<h1>(本文示例代码基于nodejs, 示例文件存放于/scripts下, 特此公告)</h1>
<h2>回调函数</h2>
<pre>
var request = require('request');
var a;
var content;

///同步
function A(){
	a = 'look'
}
function getA(){
	console.log(a);
}
A();
getA();


///异步
function baidu(){
	request('http://www.baidu.com', function(err, res, body){
		content = body
		getBaidu(content);
	})
}
function getBaidu(baidu){
	console.log(baidu);
}
//baidu();


//嵌套
function baiduAndSo(){
	request('http://www.baidu.com', function(err, res, baidu){
		request('http://www.so.com', function(err, res, so){
			getBaiduAndSo(baidu, so);
		})
	})
}
function getBaiduAndSo(baidu, so ){
	console.log(baidu);
	console.log('=============================================================================');
	console.log(so);
}
baiduAndSo();
</pre>

<h2>async</h2>
<pre>
var request = require('request');
var async = require('async');
async.series([function(callback) {
	callback(null, 'one');
},
function(callback) {
	callback(null, 'two');

}], function(err, res) {
	console.log(res);
});




async.series([function(callback) {
	request('http://www.baidu.com', function(err, res, body){
		callback(null, body);
	})
},
function(callback) {
	request('http://www.so.com', function(err, res, body){
		callback(null, body);
	})
}], function(err, res) {
	console.log(res[0]);
	console.log('=================================================');
	console.log(res[1]);
});

</pre>
<h2>promise</h2>
<pre>
var Promise = require('promise');
var request = require('request');
var p = new Promise(function(resolve){
	request('http://www.baidu.com', function(err, res, body){
		resolve(body);
	});
}).then(function(baidu){
	return new Promise(function(resolve){
		request('http://www.so.com', function(err, res, body){
			resolve([baidu, body]);
		});
	})
}).then(function(res){
	console.log(res[0]);
	console.log('====================================================================');
	console.log(res[1]);
})
//console.log(p);
</pre>
