<style>
	body{padding:50px 100px;line-height:24px;font-size:12px;}
	h2{color:#f00;background:#ececec;padding:5px 10px;}
</style>
<h1>(本文示例代码基于nodejs, 示例文件存放于/scripts下, 特此公告)</h1>
<h2>构造函数</h2>
<pre>
//11111111111111
(function() {
	function Student() {
		this.name = 'kangjingjing';
		this.say = function() {
			console.log(this.name)
		}
	}

	var student = new Student();
	student.say() // ==> kangjingjing;
	var student1 = new Student();
	student1.name = 'chengjun';
	student1.say() // ==> chengjun;
})();
</pre>
<h2>给原型添加方法属性</h2>
<pre>
//2222222222222222222222
(function() {
	function Student() {}

	Student.prototype = {
		name: 'liangna',
		say: function() {
			console.log(this.name)
		}
	}

	var student = new Student();
	student.say() // ==> liangna;
})();
</pre>

<h2>原型到底是什么</h2>
<pre>
//3333333333333333
(function() {
	function Student() {}
	console.log(Student.prototype)
})();
</pre>
<h2>稳妥的原型方法添加方式</h2>
<pre>
//444444444444444444444444
(function() {
	function Student() {}
	Student.prototype.name = 'gale';
	Student.prototype.say = function() {
		console.log(this.name);
	}

	var student = new Student();
	student.say(); // ==> gale;
})();
</pre>
<h2>构造函数如何传递参数</h2>
<pre>
//55555555555555555555555
(function() {
	function Student(name) {
		this.name = name
	}
	Student.prototype = {
		say: function() {
			console.log(this.name)
		}
	}

	var student = new Student('gewenbing');
	student.say(); //==>  gewenbing;
})();
</pre>
<h2>如何让参数更加灵活</h2>
<pre>
//66666666666666666666
(function() {
	function Student(options) {
		this.options = options;
	}
	Student.prototype = {
		say: function() {
			console.log(this.options.name);
		}
	}

	var student = new Student({
		name: 'xiongshuguang'
	})

	student.say() // ==> xiongshuguang;
})()
</pre>

