<form method="post" enctype="multipart/form-data" action="/form">
	<p>username:<input name="username" type="text" /></p>
	<p>file:<input name="file" type="file"></p>
	<p>img:<input name="img" type="file"></p>
	<p><input type="submit" /></p>
</form>
