<style>
body{padding:50px 100px;font-size:14px}
</style>
<h1>前端工具库</h1>

<p><a href="/constructor">构造函数</a></p>
<p><a href="/callback">回调函数</a></p>
<p><a href="/mustgo">药不能停</a></p>
<p><a href="/nodejs">nodejs</a></p>
