<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>直播云</title>
        <%- include ./include/css.html %>
    </head>
    <body>
        <div id="content" class="g-doc"><%-body%></div>
        <%- include ./include/scripts.html %>
    </body>
</html>
