<style>
	body{padding:50px 100px;line-height:24px;font-size:12px;}
	h2{color:#f00;background:#ececec;padding:5px 10px;}
</style>
<h1>药不能停(本文示例代码基于nodejs, 示例文件存放于/scripts下, 特此公告)</h1>
<h2>//======变量提升========</h2>
<pre>
(function() {
	console.log('x : ' + x); //=> undefined
	//console.log(y);
	var x;
	x = 2;
	console.log('x : ' + x); //=> 2;
})();

var v = 'Hello World';
(function() {
	console.log('v : ' + v); //=> undefined
	var v = 'I love you';
})();
</pre>
<h2>//==========块级作用域======</h2>
<pre>
(function() {
	var m = 1;
	console.log('m : ' + m); //=> 1
	if (true) {
		m = 2;
		console.log('m : ' + m); //=> 2
	}
	console.log('m : ' + m); //=> 2
})();
</pre>
<h2>//==========函数提升======</h2>
<pre>
(function() {
	fun(); //=> so gar
	function fun() {
		console.log('so gar');
	}
})();

(function() {
	//fun(); //=> error
	var fun = function() {
		console.log('so gar');
	}
})();
</pre>
<h2>//=======值类型(数值、布尔值、null、undefined)=========</h2>
<pre>
(function() {
	var str1 = 'hello'
	var str2 = str1;
	str1 += 'world';
	console.log(str2); //=> hello
})();
</pre>
<h2>//=======引用类型(对象、数组、函数)=========</h2>
<pre>
(function() {
	var arr1 = [1, 2];
	var arr2 = arr1;
	arr1.push(3);
	console.log(arr2);
})();
</pre>
<h2>//=======判断变量是否定义==========</h2>
<pre>
(function() {
	if(typeof(a) !== 'undefined') {
		console.log('a');
	}
})();
</pre>
