<style>
	body{padding:50px 100px;line-height:24px;font-size:14px;}
	h2{color:#f00;background:#ececec;padding:5px 10px;}
</style>
<h1>nodejs(本文示例代码基于nodejs, 示例文件存放于/scripts下, 特此公告)</h1>
<h2>最重要的三个网站</h2>
<p><a href="http://www.nodejs.org" target="_blank">http://www.nodejs.org&nbsp;&nbsp;(nodejs官网,经常上去看看手册，了解下都有什么哪些类，哪些方法)</a></p>
<p><a href="http://www.expressjs.com" target="_blank">http://www.expressjs.com&nbsp;&nbsp;(express框架,最流行nodejs web框架，没有之一,需要多去看看，了解express框架)</a></p>
<p><a href="http://www.npmjs.com" target="_blank">http://www.npmjs.com&nbsp;&nbsp;(npm官网，上边能查到各种nodejs第三方库，实现太多太多后端功能)</a></p>
<h2>http</h2>
<pre>
var http = require('http');
http.get('http://www.baidu.com', function(res){
	//console.log(res);
	res.on('data', function(chunk){
		console.log(chunk.toString());
	})
})

var server = http.createServer(function(req, res){
	res.write('a');
	res.write('b');
	res.write('c');
	res.write('d');
	res.end();
});
server.on('request', function(req, res){
	console.log(req);
});
server.listen('8080');
</pre>
<h2>file system</h2>
<pre>
var fs = require('fs');
fs.readFile(__dirname + '/http.js', function(err, data){
	console.log(data.toString());
})


fs.readFile(__dirname + '/http.js', function(err, data){
	fs.writeFile(__dirname + '/files/http.js', data.toString(), function(err){
		if(err){
			console.log(err);
			return;
		}
		console.log('success!');
	});
})
</pre>
