<script src="/js/lib/require.js" type="text/javascript"></script>
<script src="/js/lib/lncalendar.js" type="text/javascript"></script>
<script>
    require.config({
        baseUrl: '/js',
        paths: {
            //'jquery': 'http://s0.qhimg.com/lib/jquery/172'
            'text': 'plugin/require/text',
            'json': 'plugin/require/json',
            'image': 'plugin/require/image'
        },
        waitSeconds: 0,
        //配置模块根路径到静态资源根目录。
        // urlArgs: "r=" + (new Date()).getTime() //避免开发环境缓存
    });
    
    require(['base'], function(Base){
        new Base();
    });
</script>
