<div class="student">
	<div class="g-left">
		<div class="pro pro-student">
			<h3 class="pro-photo"><img src="/img/photo-student.png"></h3>
			<div class="pro-des">
				<span class="pro-des-name">葛文兵</span>
				<span class="pro-des-level">LV: 0.1</span>
			</div>
		</div>
		<div class="menu">
			<a href="">课程表</a>
			<a class="active" href="">课程回放</a>
		</div>
		<a class="setting" href="">设置</a>
	</div>
	<div class="g-main">
		<div class="top-bar">
			<div class="top-bar-menu">
				<a href="">新建文件夹</a>
				<a href="">删除</a>
				<a href="">移动</a>
			</div>
			<!--<span class="top-buttons">
				<a class="min" href="">一</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="close" href="">X</a>
			</span>-->
		</div>
		<div class="content">
			<h3 class="ware-crumbs">
				<span class="cru">全部文件</span>
				<span class="count">共5个文件</span>
			</h3>
			<table class="ware-lists">
				<tr>
					<th><input type="checkbox" /> 文件名 </th>
					<th width="80">大小</th>
					<th width="140">上传日期</th>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
</div>
