<div class="teacher">
	<div class="g-left">
		<div class="pro">
			<h3 class="pro-photo"><img src="/img/photo.png"></h3>
			<div class="pro-des">
				<span class="pro-des-name">葛文兵</span>
				<span class="pro-des-level">LV: 0.1</span>
			</div>
		</div>
		<div class="menu">
			<a href="">Syllabus</a>
			<a class="active" href="">Courseware</a>
		</div>
		<a class="setting" href="">setting</a>
	</div>
	<div class="g-main">
		<div class="top-bar">
			<div class="top-bar-menu">
				<a href="">Upload</a>
				<a href="">New folder</a>
				<a href="">Delete</a>
				<a href="">Move to</a>
			</div>
			<!--<span class="top-buttons">
				<a class="min" href="">一</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="close" href="">X</a>
			</span>-->
		</div>
		<div class="content">
			<h3 class="ware-crumbs">
				<span class="cru">All file</span>
				<span class="count">A total of 5</span>
			</h3>
			<table class="ware-lists">
				<tr>
					<th><input type="checkbox" /> File name</th>
					<th width="80">Size</th>
					<th width="140">Change date</th>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td><input type="checkbox" /> Grade three spring oral class </td>
					<td>23.5M</td>
					<td>2015-12-22 15:32</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
</div>
