html, body, .g-doc{
	width:1080px;
	height:650px;
	overflow:hidden;
}
.g-doc{
}
.teacher, .student{
	width:1080px;
	height:650px;
	overflow:hidden;
	border-radius:10px;
	/*background:#3E3731;*/
}
.g-left{
	position:relative;
	float:left;
	width:330px;
	height:650px;
}
.teacher .g-left{
	background:#4c443d;
}
.g-main{
	float:left;
	width:750px;
	background:#fff;
	height:650px;
	overflow:hidden;
}


.pro{
	margin-left:50px;
	height:80px;
	background:#A6CB12;
}
.pro-photo{
	float:left;
	width:80px;
	height:80px;
}
.pro-des{
	float:left;
	width:200px;
	padding-top:20px;
	line-height:20px;
	text-align:center;
	color:#fff;
}
.pro-des-name{
	font-size:14px;
	display:block;
}
.pro-des-level{
	font-size:12px;
	display:block;
}

.menu{
	margin-top:50px;
}
.menu a{
	display:block;
	height:55px;
	line-height:55px;
	padding-left:50px;
	font-size:14px;
	color:#ccc;
	background:#4C443D;
}
.menu a.active{
	color:#fff;
	background:#585048;
}

.date{
	margin-top:40px;
	padding-left:50px;
	line-height:28px;
}
.date-weekly{
	display:block;
	font-size:19px;
	color:#888;
}
.date-day{
	display:block;
	font-size:30px;
	color:#fff;
}

.course{
	position:relative;
	margin-top:30px;
	font-size:14px;
	padding-left:50px;
	padding-right:40px;
}
.course-lesson{
	display:block;
	line-height:24px;
	color:#fff;
}
.course-status{
	margin-left:10px;
	padding:3px 7px;
	background:#E2B825;
	color:#fff;
	font-size:14px;
}
.course-status:hover{
	color:#E2B825;
	background:#666;
}
.course-name{
	display:block;
	line-height:24px;
	color:#fff;
}
.course-date{
	display:block;
	line-height:24px;
	color:#888;
}
.course-proAndTime{
	display:block;
	line-height:40px;
	color:#888;
	font-size:12px;
}
.course-proAndTime label{
	padding-left:25px;
}
.teacher .course-proAndTime .left{
	background: url("/img/teacher/user.png") no-repeat left;
}
.teacher .course-proAndTime .right{
	background: url("/img/teacher/time.png") no-repeat left;
}
.student .course-proAndTime .left{
	background: url("/img/student/user.png") no-repeat left;
}
.student .course-proAndTime .right{
	background: url("/img/student/time.png") no-repeat left;
}

.course-btn{
	display:inline-block;
	margin:5px 0 ;
	padding:8px 20px;
	border-radius:18px;
	color:#fff;
	background:#A6CB12;
	font-size:16px;
	border:none;
}

.enter_warning{
	display: block;
	font-size:12px;
	color:#fff;
}
.student .course-btn, .student .course-status{
	background:#ECE406;
	color:#7C9C00;
}
.course-btn:hover{
	color:#A6CB12;
	background:#666;
}
.course-pager{
	position:absolute;
	z-index:2;
	top:-10px;
	right:40px;
}
.course-pager a{
	color:#fff;
	text-decoration:none;
	font-size:35px;
}
.course-pager a.dis{
	color:#666;
}
.course-pager .course-pager-prev:after{
	content:'\02039';
}
.course-pager .course-pager-next:after{
	content:'\0203A';
}
.setting{
	position:absolute;
	z-index:2;
	bottom:30px;
	left:50px;
	color:#888;
}

.top-bar{
	position:relative;
	height:80px;
	background:#EFEEEC;
}

.top-bar-month{
	float:left;
	margin-left:30px;
	padding-top:40px;
	font-size:16px;
	color:#777;
}
.top-bar-pager{
	float:left;
	margin-left:20px;
}
.top-bar-pager a{
	float:left;
	padding:40px 10px 5px;
	color:#777;
}
.top-bar-pager a.prev{
	border-right:1px solid #dbdbdb;
}
.top-bar-today{
	float:right;
	margin:40px 20px 0 0;
	padding:5px 20px;
	border-radius:20px;
	border:1px solid #ccc;
	background:#fff;
	color:#666;
}
.top-buttons{
	position:absolute;
	display:block;
	right:30px;
	top:10px;
}
.top-buttons a{
	padding:5px;
}

.top-bar-menu{
	height:50px;
	padding:20px 0 0 20px;
}
.top-bar-menu a{
	float:left;
	margin-left:20px;
	line-height:50px;
	font-size:14px;
	color:#88989E;
}
.top-bar-menu a:hover{
	color:#9AC100;
}

.content{
	padding:20px 30px;
}
.ware-lists{
	width:100%;
	line-height:40px;
	font-size:14px;
}
.ware-lists th{
	color:#bababa;
}
.ware-lists td{
	color:#88989E;
}
.ware-lists tr{
	border-bottom:1px solid #ececec;
}
.ware-lists input[type=checkbox]{
	vertical-align:middle;
	appearance: none;
	-webkit-appearance: none;
	border:1px solid #ececec;
	background:none;
}
.ware-crumbs{
	height:30px;
	line-height:30px;
	border-bottom:1px solid #88989E;
	font-weight:normal;
	font-size:14px;
}
.ware-crumbs .cru{
	float:left;
	color:#88989E;
}
.ware-crumbs .count{
	float:right;
	color:#88989E;
}


.student .pro{
	background:transparent url('/img/header-pro.png') no-repeat scroll left -1px;
}
.student .pro-photo{
	width:60px;
	height:70px;
	padding:5px 10px;
}
.student .g-left{
	background:#9DC308;
}
.student .menu a{
	color:#F6F8BA;
}
.student .menu a.active{
	color:#fff;
	background:#AAD014;
}
.student .date-weekly, .student .course-date, .student .course-proAndTime, .student .course-pager a.dis{
	color:#678100;
}

.student .top-bar{
	background:transparent url('/img/header-bar.png') no-repeat scroll left -1px;
}
.login{
	position:relative;
	width:1080px;
	height:650px;
	background:transparent url('/img/login-bg.png');
}
.login .form{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-280px;
	margin-left:-203px;
	width:320px;
	height:390px;
	padding: 170px 45px 0 45px;
	box-shadow:0 0 10px #333;
	background:transparent url('/img/login-form.png') no-repeat;
	text-align: center;
	color:white;
}
.login .form p{
	padding:5px 0;
}

.login .form .user, .login .form .password{
	width:250px;
	height:50px;
	padding:0 20px 0 50px;
	line-height:50px;
	border:none;
	color:#fff;
	font-size: 14px;
}
.login .form .user{
	background: #8E9E25 url("/img/login/username.png") no-repeat left;
	background-position: 10px;
	background-size: 25px 25px;
}
.login .form .password{
	background: #8E9E25 url("/img/login/pwd.png") no-repeat left;
	background-position: 10px;
	background-size: 25px 25px;
}
.login .form .submit{
	display:block;
	width:320px;
	height:50px;
	line-height:50px;
	border:none;
	background:#fff;
	color:#A6CB12;
	font-size:20px;
	margin-top:18px;
	font-weight:bold;
}
.login .form .submit:hover{
	background:#666;
	color:#fff;
}
.login .form .forgot{
	display:block;
	color:#eee;
	font-size:15px;
}
.login .form .other_methods{
	font-size: 14px;
	margin:50px 0 10px 0; 
}
.login .form .other_methods hr{
	width:95px;
	border-style:solid;
	line-height:20px;
	display:inline-block;
	margin-bottom:5px;
	color: rgba(224,224,224,0.4);
}
.login .form .other_methods label{
	margin:0 10px;
}
.loading-index{
	height:650px;
	line-height:650px;
	text-align:center;
	color:#666;
	font-size:12px;
}
.btn-third{
	display:block;
	margin:0 auto;
	height:53px;
	width:53px;
	line-height:53px;
	text-align:center;
	border-radius:100%;
	background:#fff;
	color:#41b2db;
	border:4px solid transparent;
	font-weight:bold;
	font-size: 14px;
}
.btn-third:hover{
	color:#fff;
	background-color:#A6CB12;	
	border:4px solid #ccff00;
}
.high-light{
    transition: background 1s;
}



.a-light{
	transition: background 1s;
}
.a-swing{
	-webkit-animation:1s ease-in forwards;
	-moz-animation:1s ease-in forwards;
	-ms-animation:1s ease-in forwards;
	animation:1s ease-in forwards;
}
.a-swing{
	-webkit-animation-name:swing;
	-moz-animation-name:swing;
	-ms-animation-name:swing;
	animation-name:swing;
}
/* 摇摆 */
@-webkit-keyframes swing{
    20%{-webkit-transform:rotate(15deg);}
    40%{-webkit-transform:rotate(-10deg);}
    60%{-webkit-transform:rotate(5deg);}
    80%{-webkit-transform:rotate(-5deg);}
    100%{-webkit-transform:rotate(0);}
}
@keyframes swing{
    20%{transform:rotate(15deg);}
    40%{transform:rotate(-10deg);}
    60%{transform:rotate(5deg);}
    80%{transform:rotate(-5deg);}
    100%{transform:rotate(0);}
}
