/*
body{
	padding:0;
	margin:0;
	font-family: "Microsoft YaHei" ! important;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}*/
.full_wide{
	width:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clearfloat:after{
	clear:both;
	content:"";
	height:0;
	display: block;
	visibility: hidden;
}
/**********************************************header************************************************/
.lc-header{
	overflow: hidden;
	background-color:#ececec;
	padding:24px 15px;
	color:#777;
}
.lc-wave{
	background:transparent url("/img/student/topbar.png") no-repeat scroll left 0px;
}
.lc-header #title{
	font-size: 20px;
	padding-right:28px;
	width:140px;
}
.lc-header button{
	background-color: transparent;
	cursor: pointer;
	border:none;
	color:#777;
}
.lc-header button:hover{
	color:#add11c;
}
.lc-header #today{	
	border:1px solid #ccc;
	background-color: white;
	border-radius: 15px;
	padding:5px 15px;
	margin:3px 0;
}
.lc-header #today:hover{	
	border:1px solid #add11c;
}
.lc-icon{
	font-size: 20px;
	text-align: center;
}
.lc-icon:after{
	position: relative;
	margin: 0 14px; 
}
.lc-icon-left:after{
	content:'\02039';
}
.lc-icon-right:after{
	content:'\0203A';
}
/**********************************************content************************************************/
/*----------------------------------event--------------------------------------*/
.lc-event:before{
	content:'\025CF';
	color:#aad014;
	padding-right:5px;
}
.lc-event{
	display: block;
	list-style: disc inside;
	cursor:pointer;
	font-size: 12px;
	margin:2px 4px;
}
.lc-event:hover,.lc-event-highlight{
	background-color: #f2f8dc;
	border-radius:15px;
	color:black;
}
/*----------------------------------------------月历-------------------------------------------------*/
.ln-calendar table{
	background-color:white;
	border-collapse:collapse;
	background: white;
	width:750px;
}
.ln-calendar table th,td .lc-event_div{
	text-align: center;
}
.ln-calendar table thead tr{
	font-size: 14px;
	color:#aad014;
}
.ln-calendar table thead tr th{
	padding-top:15px;
}
.ln-calendar table tbody tr{
	height:65px;
	border-top:1px solid #ddd;
}
.ln-calendar table td+td .lc-date_div{
	border-left:1px solid #ddd;
}
.ln-calendar th,.ln-calendar td,.ln-calendar li{
	width:14.28%;
}
.ln-calendar td{
	vertical-align: top;
}
.ln-calendar td .lc-date_div{
	padding-top:2px;
	padding-left:10px;
}
.ln-calendar td .lc-date{
	font-size: 15px;
	display: inline-block;
	padding:3px;
	border-radius: 15px;
	text-align:center;
	color:#eee;
}
.ln-calendar table .lc-event_list{
	text-align: center;
	overflow: hidden;
}
.ln-calendar table .lc-table-highlight{
	color:black;
}
.ln-calendar table .lc-table-highlight .lc-date{
	color:white;
	background-color: #aad014;

}

/*----------------------------------------------周历-------------------------------------------------*/
.ln-calendar ul{
	margin:0;
	padding:0;
	list-style: none;
	height:700px;
}
.ln-calendar li{
	text-align: center;
	float: left;
	height:100%;
	color:#aaa;
}
.ln-calendar li+li{
	box-shadow: 1px 0 0 #ddd inset;
}
.ln-calendar ul .lc-date{
	padding-top:17px;
	padding-bottom:15px;
	padding:17px 0px;
	color:#a6cb12;
}
.ln-calendar ul .lc-date span{
	display: block;
}
.ln-calendar ul .lc-date .number{
	font-size: 50px;
	font-weight: bold;
}
.ln-calendar ul .lc-li-highlight{
	color:black;
	border-top:3px solid #8a7763;
	background: url("/img/teacher/arrow.png") no-repeat  top;
}
.ln-calendar ul .lc-li-highlight .lc-date{
	color:#8a7763;
	padding-top:17px;
	padding-bottom:11px;
}
.ln-calendar ul .lc-section{
	height:153px;
}
.ln-calendar ul li .lc-event{
	padding:5px 0;
}


/*----------------------------------popover----------------------------------*/
#lc-popover{
	display:none;
	z-index: 100;
	padding:0 10px;
	position:absolute;
}
#lc-popover #arrow{
	position:absolute;
}
#lc-popover #container{
	width: 220px;
	background-color: #fff;
	padding:10px;
	box-shadow: 0px 0px 35px #b1bb8b;
	float:left;
	border-radius: 2px;
}
#lc-popover #container .course_img{
	height:114px;
}
#lc-popover #container h4{
	font-size:14px;
}
#lc-popover #container .counts{
	padding:10px 0 7px 0;
}
#lc-popover #container p{
	color:#aaa;
	font-size: 13px;
	padding-top:8px;
}
#lc-popover #container .people_time{
	display: block;
	color:#aad014;
	font-size:14px;
	margin:15px 0;
}
#lc-popover #container .people_time span{
	padding-left:20px;
}
#lc-popover #container .people_time .left{
	background: url("/img/student/user.png") no-repeat left;
}
#lc-popover #container .people_time .right{
	background: url("/img/student/time.png") no-repeat left;
}
.lc-arrow-left {
	float:left;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #fff;
	overflow:hidden;
}
.lc-arrow-right {
	float:right;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left:10px solid #fff;
	overflow:hidden;
}
.cloud_button{
	display: block;
	border:none;
	border-radius:15px;
	background-color: #aad014;
	padding-top:6px;
	padding-bottom:8px;
	width:100%;
	text-align: center;
	color:#fff;
	margin:5px 0;
}
.cloud_button:hover{
	background-color:#666;
	color:#A6CB12;
}
