/* bubble style */
.sender{
	clear:both;
	margin: 10px 0px 0px 10px;
}

.sender div:nth-of-type(1) {
	float: left;
}

.sender div:nth-of-type(2) {
	float: left;
}

.left_rectangle{
	background-color: rgb(244,243,242);
	padding: 10px 10px 10px 10px;
	border-radius: 7px;
	max-width:100px;
	word-wrap:break-word;
	word-break:normal;
}

.left_triangle {
	height: 0px;
	width: 0px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent rgb(244,243,242) transparent transparent;
	position: relative;
	left: 0px;
	top: 14px;
}

.receiver{
	clear:both;
	margin: 10px 10px 0px 0px;
}

.receiver div:nth-of-type(1) {
	float: right;
}

.receiver div:nth-of-type(2) {
	float: right;
}

.right_rectangle{
	background-color: rgb(193,218,89);
	padding: 10px 10px 10px 10px;
	border-radius: 7px;
	max-width:100px;
	word-wrap:break-word;
	word-break:normal;
}

.right_triangle {
	height: 0px;
	width: 0px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent rgb(193,218,89);
	position: relative;
	left: 0px;
	top: 14px;
}

.receiver div:first-child img,.sender div:first-child img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button {
	display: none;
}

-webkit-scrollbar-track {
	background: #FF66D5;
}

::-webkit-scrollbar-track-piece {
	background: white;
}

::-webkit-scrollbar-thumb {
	background: #AFEEEE;
	border-radius: 3px;
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar-resizer {
	display: none;
}