<div class="teacher animated bounceIn">
	<div class="g-left">
		<div class="pro" id="userInfo">
			<h3 class="pro-photo"><img v-bind:src="url" /></h3>
			<div class="pro-des">
				<span class="pro-des-name">{{name}}</span>
				<span class="pro-des-level">LV: {{level}}</span>
			</div>
		</div>
		<!--<div class="menu">
			<a class="active" href="">Syllabus</a>
			<a href="">Courseware</a>
		</div>-->
		<div class="date">
			<span class="date-weekly">{{weekend}}</span>
			<span class="date-day">{{date}}</span>
		</div>
		<div class="course"  v-if="has_course">
			<div class="course-content">
				<span class="course-lesson">第{{course[courseId].league}}/{{course[courseId].counts}} 节<label class="course-status" v-if="course[courseId].is_prepare">COMING</label></span>
				<span class="course-name">{{course[courseId].title}}</span>
				<span class="course-date">{{course[courseId].startDate}} - {{course[courseId].endDate}}</span>
				<span class="course-proAndTime clearfloat"><label class="left">{{course[courseId].person}}</label><label class="right">{{course[courseId].startTime}} - {{course[courseId].endTime}}</label></span>
				<div>
					<button class="course-btn a-light" id="course-btn" data-href={{course[courseId].enter_url}} v-if='course[courseId].is_prepare'>Enter the classroom</button>
					<label class="enter_warning">（开始上课前10分钟方可进入教室）</label>
				</div>
			</div>
			<div id="course-pager" class="course-pager">
				<a id="btn-prev" class="course-pager-prev" href="javascript:void(0)" v-if="courseId"></a><a id="btn-prev" class="course-pager-prev dis" href="javascript:void(0)" v-if="!courseId"></a>&nbsp;
				<a id="btn-next" class="course-pager-next" href="javascript:void(0)" v-if="courseId<course.length-1"></a><a id="btn-next" class="course-pager-next dis" href="javascript:void(0)" v-if="courseId>=course.length-1"></a>
			</div>
		</div>
		<a class="setting" href=""><img src="/img/teacher/setting.png" /></a>
	</div>
	<div id="calendar" class="g-main">
	</div>
</div>
