<div id="login" class="login animated fadeIn">
	<div class="form animated flipInY">
		<p><input class="user" type="text" name="user" placeholder="用户名" /></p>
		<p><input class="password" type="text" name="user" placeholder="密码"/></p>
		<p><a id="signIn" class="submit a-light" href="javascript:void(0)">Sign In</a></p>
		<p><a class="forgot" href="javascript:void(0)">Forgot  Password ?</a></p>
		<div class="other_methods"><hr /><label>选择第三方登录</label><hr /></div>
		<p><a class="btn-third high-light" href="javascript:void(0)">乐外教</a></p>
	</div>
</div>
